<div id="carouselExampleIndicators" class="carousel slide custom-carousel" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
    <div class="carousel-container">
      <div class="carousel-item active">
        <img class="d-block w-100 carousel img" src="{{ChilliChicken}}" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
            <h5>Chilli Chicken</h5>          
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 carousel img" src="{{VegLollipop}}" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
            <h5>Veg Lollipop</h5>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 carousel img" src="{{EggBiryani}}" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
            <h5>Egg Biryani</h5>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 carousel img" src="{{Cake}}" alt="Fourth slide">
        <div class="carousel-caption d-none d-md-block">
            <h5>Cake</h5>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 carousel img" src="{{Burger}}" alt="Fifth slide">
        <div class="carousel-caption d-none d-md-block">
            <h5>Burger</h5>
          </div>
      </div>
    </div> 
  </div>

  <div class="container story-container">
    
        <h1 class="story-title">Our Evolution</h1>
    
    <div class="story-main">
        <div class="story-content">
            <h3 class="story-title">Where food dreams come true</h3>
            <p>
              Embark on a tasteful journey with HotByte, where every byte is a delight.
               "Satisfy your cravings with a click," as we bring the world of flavors to your fingertips.
                With HotByte, "taste buds rejoice, convenience rules." Explore a universe of culinary wonders, "where hunger meets happiness.
                " Indulge in "foodie fantasies fulfilled" as you navigate through our user-friendly interface. 
                "Ordering made easy, cravings conquered," with just a swipe and a tap. 
                Let HotByte be your guide to "culinary bliss, delivered." Join us in celebrating the art of dining, 
                "where every meal is a masterpiece." Welcome to HotByte, "where food dreams come true.</p>
                
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 wcu-custom">
      <h1 class="wcu-section-heading">Why Choose Us?</h1>
      <p class="wcu-section-description">
        We use both original recipes and classic versions of famous food
        items.
      </p>
    </div>
    <div class="col-12 col-md-4">
      <div class="wcu-card p-3 mb-3">
        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/food-serve.png"
          class="wcu-card-image" />
        <h1 class="wcu-card-title mt-3">Food Service</h1>
        <p class="wcu-card-description">
          Experience fine dining at the comfort of your home. All our
          orders are carefully packed and arranged to give you the nothing
          less than perfect.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="wcu-card p-3 mb-3">
        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/fruits-img.png"
          class="wcu-card-image" />
        <h1 class="wcu-card-title mt-3">Fresh Food</h1>
        <p class="wcu-card-description">
          The Fresh Food group provides fresh-cut fruits and vegetables
          directly picked from our partner farms and farm houses so that
          you always get them tree to plate.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="wcu-card p-3 mb-3">
        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/offers-img.png"
          class="wcu-card-image" />
        <h1 class="wcu-card-title mt-3">Best Offers</h1>
        <p class="wcu-card-description">
          Food Coupons & Offers upto
          <span class="offers">50% OFF</span>
          and Exclusive Promo Codes on All Online Food Orders.
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer-section></app-footer-section>