<div class="d-flex justify-content-center align-items-center customBody">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center ">
        <h1 class="accountTypeHeading">Choose account type</h1>
      </div>
      <div class="col-12 d-flex justify-content-center align-items-center piccontainer">

        <a class="personCustom" href="admin-sign-in">
          <img src="{{adminpic}}" class="adminPic" />
          <h1 class="personName">Admin</h1>
        </a>

        <a class="personCustom" href="user-sign-in">
          <img src="{{userpic}}" class="adminPic" />
          <h1 class="personName">User</h1>
        </a>

        <a class="personCustom" href="res-owner-sign-in">
          <img src="{{rowner}}" class="adminPic" />
          <h1 class="personName">Restaurant Owner</h1>
        </a>

        <a class="personCustom" href="delivery-partner-sign-in">
          <img
            src="{{deliverypartner}}"
            class="adminPic" />
          <h1 class="personName dpclass">Delivery Partner</h1>
        </a>

      </div>
    </div>
  </div>

</div>