<div class="admin-container" >
    <div class="tabs">
        
        <button [ngClass]="{'active-tab': activeTab === 'orderHistory'}" (click)="handleTabChange('orderHistory')">Order History</button>
        <button [ngClass]="{'active-tab': activeTab === 'paymentHistory'}" (click)="handleTabChange('paymentHistory')">Payment History</button>
    </div>

    
        <!-- Form for adding a restaurant -->
        

    <div *ngIf="activeTab === 'orderHistory'" class="order-history">
        <h2>Order History</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Order Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Customer ID</th>
                        <th>Restaurant ID</th>
                        <th>Partner ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orderHistory">
                        <td>{{ order.orderId }}</td>
                        <td>{{ order.orderDate | date:'longDate' }}</td>
                        <td>Rs. {{ order.amount }}</td>
                        <td>{{ order.status }}</td>
                        <td>{{ order.customerId }}</td>
                        <td>{{ order.restaurantId }}</td>
                        <td>{{ order.partnerId }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="activeTab === 'paymentHistory'" class="payment-history">
        <h2>Payment History</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Payment ID</th>
                        <th>Payment Mode</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Order ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let payment of paymentHistory">
                        <td>{{ payment.paymentId }}</td>
                        <td>{{ payment.paymentMode }}</td>
                        <td>Rs. {{ payment.amount }}</td>
                        <td>{{ payment.status }}</td>
                        <td>{{ payment.date | date:'longDate' }}</td>
                        <td>{{ payment.orderId }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

