    <div class="vr-container">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 pt-4 pb-2 ">

                    <div class="firstcard">
                        <img class="mainlogo" src="{{FoodLogoDesign}}" />
                        <div class="icons-container d-flex flex-row justify-content-center pt-3 pb-3">
                            <div class="follow-us-icon-container">
                                <i class="fa-brands fa-google icon mr-1"></i>
                            </div>
                            <div class="follow-us-icon-container ml-2">
                                <i class="fa-brands fa-twitter icon mr-1"></i>
                            </div>
                            <div class="follow-us-icon-container ml-2">
                                <i class="fa-brands fa-instagram icon mr-1"></i>
                            </div>
                        </div>
                        <p class="firstcardpara">11-80/1, HotPot, , Andhra Pradesh, India</p>

                    </div>

                </div>
                <div class="col-12 col-md-4 cust2 pt-md-5">
                    <div class="contactcard">
                        <h1 class="headingpurpose mt-2">Contact Us</h1>
                        <div class=" d-flex flex-row paracolor">
                            <p></p>
                        </div>
                        <div class=" d-flex flex-row paracolor">
                            <i class="fa-solid fa-envelope icon"></i>
                            <p class="ml-2">HotPot.com</p>
                        </div>
                        <div class="d-flex flex-row paracolor">
                            <i class="fa-solid fa-phone icon"></i>
                            <p class="ml-2">7569470642</p>
                        </div>
                        <div class="d-flex flex-row paracolor">
                            <i class="fa-solid fa-user icon"></i>
                            <p class="ml-2">Triveni and Teja</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fot pt-1 pb-1">
            <footer class="footclass d-flex flex-row justify-content-center">
                &copy; A friendly User Interface for Food Ordering (HotPot Pvt.Ltd)  !!
            </footer>
        </div>
    </div>

   
    
    