        <nav [ngClass]="{ 'open': isNavbarOpen, 'closed': !isNavbarOpen }" class="navbar navbar-light  fixed-top customnavbar">
            <div class="container-fluid">
                <div class="customnavbar-brand">
                    <a class="navbar-brand-custom" href="home"><img src="{{FoodMunchImage}}" class="websiteLogo" /></a>
                    <h1 class="HotBytesTitle">HotPot</h1>
                </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas customOffcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Hot Bytes</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  
        
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="home">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="startpage">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="explore-menu-section">Explore Menu</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="cart-display">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="restaurant-dashboard">Restaurants</a>
                      </li>
                      
                      <li class="nav-item">
                        <a class="nav-link" href="customer-profile">Your Account</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" (click)="logout()">Logout</a>
                      </li>
                  </ul>
                  
                </div>
              </div>
            </div>
        </nav>



